<html>

<head>
<title>machine learning project write-up</title>
</head>

<body>

<p>I do this analysis basically with random forest algorithme. 
</p>

<p>Firstly load files and set seeds to 33833
Then I do some data cleaning to make it easier for analyzing:
drop first veariable (varialbe no.) and factorize user_name
change format to numeric and standardize all numeric variables so that they will not spam together
drop variables with more than 10000 na value
change time variable to factors indicating time(hour) within a day. I do so because the time that people do excercises may affect the quality of doing excersices
two other variables which is raw data for cvtd_timestamp varaible are deleted
change new_window into a dummy variable
</p>

<p>preproccess--PCA analysis
I do principle component analysis so decrease the number of variables. Otherwise the machine-learning programm will take too much resourses
</p>

<p>cross validation
create folds for cross validation
create 5 folds, use 4 folds as training set, 1 folds as valid set. 
So I get 5 training sets and 5 validiting sets. Run random forest algorithem for 5 times 
</p>

<p>do random forest analysis within each fold
I only use random forest methods because other mothods (boosting, generalized linear model) get less accurate results. The same for assemled models.
</p>

<p>predict data in valid sets and get accuracy; set accuracy rate as accu_weigh
</p>

predict the results in testing set with 5 models

<p>vote (weighed by accuracy) to get final results
weigh equals to accuracy of each model get from previous steps
</p>

  
<p>out of sample errors
according to the cross validation, the out of sample error is approimately 5% because the accuracy is about 95%
</p>
  
</body>
</html>
